*{
	margin: 0;
	padding: 0;
}
html,body,.wrapper{
	width: 100%;
	height: 100%;
}
html{
    font-size: 100%;
}
body{
	font-size: 14px;
	overflow: hidden;
}
header{
	display: -webkit-flex;
	height: 45px;
	background: #33A3F5;
}
header img{
	margin: 10px 15px;
}
header b{
	border: 1px solid #fff;
	font-weight: normal;
	color: #fff;
	height: 20px;
	padding: 3px 5px;
	margin-top: 10px;
	border-radius: 5px;
}
header span{
	position: absolute;
	right: 15px;
	color: #fff;
	top: 10px;
}
nav{
	width: 100%;
	display: -webkit-flex;
	padding: 5px;
}
nav p{
	line-height: 35px;
	-webkit-flex: 1;
	text-align: center;
	box-sizing: border-box;
}
.bom{
	border-bottom: 3px solid #33A3F5;
}
.new-list ul{
	padding-left: 5px;
}
.new-list ul li{
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}
.new-list ul li span{
	color: #9D9D9D;
	float: right;
	margin-right: 10px;
}
.rank-dl{
	padding-left: 10px;
}
.rank-dl dl{
	display: -webkit-flex;
	border-bottom: 1px solid #ccc;
}
.rank-dl dl dt{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.rank-dl dl dd{
	padding-top: 20px;
	-webkit-flex: 1;
	text-indent: 1em;
}
.rank-dl dl dd p{
	color: #C0C0C0;
	font-size: 12px;
	line-height: 20px;
}
.dl-dl dl dd{
	padding-top: 30px;
}
.singer-list{
	padding: 10px;
}
.singer-list ul{
	margin-bottom: 20px;
	background: #FBFBFB;
	border-radius: 5px;
	border: 1px solid #e4e4e4;
}
.singer-list ul li{
	padding-left: 5px;
	border-bottom: 1px solid #e4e4e4;
	line-height: 40px;
}
.singer-list ul li span{
	float: right;
	margin-right: 5px;
}
.singer-list ul li:last-child{
	border: 0;
}
